{% extends "app/layout.html" %}

{% block content %}

-<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Django Application</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>

    <div id="team" class="container-fluid text-center">
        <h2>Meet The Team</h2>
        <p>&nbsp;</p>

        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Anshul Khatri</strong></p>
                <a href="#demo" data-toggle="collapse">    
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo" class="collapse">
                    <p>Email: khat3680@mylaurier.ca</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Brayden Mckay</strong></p>
                <a href="#demo2" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo2" class="collapse">
                    <p>Email: mcka7400@mylaurier.ca</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Campbell Leckie</strong></p>
                <a href="#demo3" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo3" class="collapse">
                    <p>Email: leck6240@mylaurier.ca</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Jeff Kolnick</strong></p>
                <a href="#demo4" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo4" class="collapse">
                    <p>Email: koln3930@mylaurier.ca</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Leron Bergelson</strong></p>
                <a href="#demo5" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo5" class="collapse">
                    <p>Email: berg5310@mylaurier.ca</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Nick Mills</strong></p>
                <a href="#demo6" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo6" class="collapse">
                    <p>Email: mill6100@mylaurier.ca</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Pericles Tsikrikis</strong></p>
                <a href="#demo7" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo7" class="collapse">
                    <p>Email: tsik9350@mylaurier.ca</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Roy Ceyleon</strong></p>
                <a href="#demo8" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo8" class="collapse">
                    <p>Email: ceyl0550@mylaurier.ca</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Ruth Schmidt</strong></p>
                <a href="#demo9" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo9" class="collapse">
                    <p>Email: schm4780@mylaurier.ca</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Tyler Price</strong></p>
                <a href="#demo10" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo10" class="collapse">
                    <p>Email: pric5180@mylaurier.ca</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Yasmine Ali</strong></p>
                <a href="#demo11" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo11" class="collapse">
                    <p>Email: alix7910@mylaurier.ca</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Mohsin Malik</strong></p>
                <a href="#demo12" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo12" class="collapse">
                    <p>Email: mali7370@mylaurier.ca</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Rafay Ahmed</strong></p>
                <a href="#demo13" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo13" class="collapse">
                    <p>Email: ahme0880@mylaurier.ca</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Michael Okenye</strong></p>
                <a href="#demo14" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo14" class="collapse">
                    <p>Email: oken8340@mylaurier.ca</p>
                </div>
            </div>

        </div>
     </div>



</body>

{% endblock %}
