{% extends "app/layout.html" %}
{% load static %}
{% block content %}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Django Application</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
<div class="jumbotron text-center">
        <h1>StockEye</h1>
        <p>Slogan</p>
    </div>

    <!-- Container (About Section) -->
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>About StockEye / Product Description</h2>
                <strong>

                    StockEye provides a streamlined web-based platform for investors and market enthusiasts to view the prospective performance of popular stocks based on Twitter sentiment analysis.

                </strong>
            </div>
            <div class="col-sm-4">
                <p><img src="{% static 'Images/laptop.png'%}" class="img-responsive center-block" width="1000" alt="Home"></p>
            </div>
        </div>
    </div>

    <div id="info" class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <img src="{% static 'Images/graph.jpg'%}" class="img-responsive center-block" alt="Graph" width="500">
            </div>
            <div class="col-sm-8">
                <h2>Product Functions</h2>
                <p>
                    <strong>StockEye must be fully documented and implemented by April 12th, and so time is a chief constraint. Machine learning is a key component of sentiment analysis, and the development team, as a whole, is largely unacquainted with its mechanism and details. Thus, it is expected that more time than ideal will be allocated to gathering and learning the prerequisites of machine learning demanded by the application. This is the primary obstruction in our objective to have a fully-functional implementation by the deadline. Furthermore, due to the COVID-19 pandemic, the team will be unable to coordinate in-person meetings, which could result in a reduction in productivity and clarity of communication. The project will have no expenses, due to the usage of free services during production of the application (django, python, etc). As such, the budget for this project is 0 dollars.</strong> 
                </p>
            </div>
        </div>
    </div>
    
    <div id="assumptions" class="container-fluid bg-grey">
        <div class="row">
            <!--<h2>Info</h2>-->

            <div class="col-sm-4">
                <img src="{% static 'Images/interfacePic.jpeg'%}" class="img-responsive center-block" alt="Graph" width="500">
            </div>
            <div class="col-sm-8">
                <h2>Assumptions and Dependencies</h2>
                <strong>
                    Users will be required to have access to the internet in order to access StockEye. Due to StockEye being entirely web-based, the user operating system is irrelevant.
                </strong>
            </div>
        </div>
    </div>

     <br><br><br><br><br>
     <p>&nbsp;</p>
   
</body>

<p>Use this area to provide additional information.</p>

{% endblock %}
