{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h3>User Profile</h3>
<h4>Change your Account Settings</h4>

<div class="navbar">
    <div class="col-md-12">
        <section id="UserChangeForm">
            <form action="." method="POST" class="form-horizontal">
                {% csrf_token %}
                <fieldset class ="form-group">
                        <div class="form-group">
                            <label for="id_email" class="col-md-5 control-label">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label for="id_password" class="col-md-5 control-label">New Password</label>
                            {{ form.password}}
                        </div>
          				<br>
                        <input type="hidden" name="next" value="/" />
                        <center><input type="Submit" value="Save Changes" class="register_button" /></center>
                
                <br>
                <br>
                <div style="text-align: center;" class="validation-summary-errors">
                    {% if form.errors %} 
                	Please enter a valid email address and/or password.
                    {% endif %}

                    {% if messages %}
                        {% for message in messages %}
                        <ul style="list-style-type:none; padding-left: 0px;">
                            <li>{{ message }}</li>
                        </ul>
                        {% endfor %}
                    {% endif %}
                </div>

            </form>
        </section>
    </div>
</div>
</div> 

{% endblock %}

