{% extends "app/layout.html" %}
{#{% load staticfiles %}#}
{% load static %}
{% block content %}

<body>
<div class="jumbotron text-center">
        <h1>StockEye: Watchlist<h1>
        <p>Create a new Watchlist</p>
    </div>

    <!-- Container (Watchlist Section) -->
    <div class="content">

        {% if user.is_authenticated %}
            <p>Username: {{ user.username }}</p>
        {% else %}
            <p>Username: {{ user.username }} (Not a valid user)</p>
        {% endif %}

        
        <form id="createWatchlistForm" action="{% url 'create_watchlist' %}" method="post">
            {% csrf_token %}
            <br><br>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create a new Watchlist</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn-outline-info" type="submit">Create Watchlist</button>
            </div>
        </form>
    </div>
   
</body>
{% endblock %}
