{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<body>
    <div class="navbar">
        {% if watchlist_name %}
            <h1>Watchlist: {{ watchlist_name }}</h1>
        {% elif watchlist_id %}
            <h1>Watchlist: {{ watchlist_id }}</h1>
        {% else %}
            <h1>StockEye: Watchlist</h1>
        {% endif %}
            <h4>Edit your Watchlist</h4>
    </div>

    <!-- Container (Watchlist Section) -->
    <div class="content">
        {% if user.is_authenticated %}
            <p>Username: {{ user.username }}</p>
        {% else %}
            <p>Username: {{ user.username }} (Not a valid user)</p>
        {% endif %}
        <div>
            <button type="submit" class="btn-danger">Delete Selected Watchlists</button>
            <button type="submit" class="btn-danger">Select All</button>
        </div>
        <br></br>
        <table class="table table-bordered">
            <tr>
                {% if watchlist_name %}
                    <td colspan="5" style="text-align: center;">{{ watchlist_name }}</th>
                {% else %}
                    <td colspan="5" style="text-align: center;">Watchlist {{watchlist_id}}</th>
                {% endif %}
            </tr>
            <tr>
                <th>Symbol</th>
                <th># + Sentiments</th>
                <th># - Sentiments</th>
                <th>Value</th>
                <th>Select</th>
            </tr>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.positiveSentimentCount }}</td>
                <td>{{ stock.negativeSentimentCount }}</td>
                <td>${{ stock.value }}</td>
                <td>
                    <input class ="form-check-input larger" name="delWatchListId" type="checkbox" value="{{watchlist.watchList_id}}">
                </td>
                </tr>
            {% endfor %}
        </table>
    </div>
        
        

    

        <div class="form-group">
            <button class="btn-outline-info" type="submit">Save Changes</button>
        </div>
        

    
   
</body>
{% endblock %}
