{% extends "app/layout.html" %}
{% block content %}

<h2>Filter Stock View</h2>


<div class = "content">
     <table>
      <tr>
        {% if stocks.stock.id %}
          <p><a> href = "{% url 'stock' s_id = stocks.stock_id %}">{{% stocks.tweet_id %}}</a></p>
            <th>Name</th>
            <th>Price</th>
            <th>Sentiment</th>
        {% endif %}
      </tr>
      <tr>
          <td>{{stocks.name}}</td>
          <td>{{stocks.price}}</td>
          <td>{{stocks.sentiment}}</td>
      </tr>
      </table>
    </div>   

{% endblock %}







           