{% extends "app/layout.html" %}
{#{% load staticfiles %}#}
{% load static %}
{% block content %}

<body>
<div class="jumbotron text-center">
        <h1>StockEye</h1>
        <p>Description Site</p>
    </div>

    <!-- Container (About Section) -->
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>About StockSense</h2>
                <p>
                    Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least.
                </p>

            </div>
            <div class="col-sm-4">
                <p><img src="{% static 'Images/laptop.png'%}" class="img-responsive center-block" width="1000" alt="Home"></p>
            </div>
        </div>
    </div>

    <div id="info" class="container-fluid bg-grey">
        <div class="row">
            <h2>Info</h2>

            <div class="col-sm-4">
                <img src="{% static 'Images/graph.jpg'%}" class="img-responsive center-block" alt="Graph" width="500">
            </div>
            <div class="col-sm-8">
                <h4><strong>Twitter sentiments analysis web application</strong></h4>
                <p>
                    <strong>Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least. </strong> 
                </p>
            </div>
        </div>
    </div>

    <div id="text" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Text</h2>
                <p>
                    <strong>Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least. </strong>
                </p>

            </div>
            <div class="col-sm-4">
                <p><img src="{% static 'Images/analysis.jpg'%}" class="img-responsive center-block" width="350" alt="Analysis"></p>
            </div>
        </div>
    </div>


    <!-- Container (Services Section) -->
    <div id="team" class="container-fluid text-center">
        <h2>Meet The Team</h2>
        <p>&nbsp;</p>

        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo" data-toggle="collapse">    
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo2" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo2" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo3" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo3" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo4" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo4" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo5" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo5" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo6" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo6" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo7" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo7" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo8" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo8" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo9" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo9" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo10" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo10" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo11" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo11" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p>
                <a href="#demo12" data-toggle="collapse">
                    <img src="{% static 'Images/ProfilePicture.jpg'%}" class="img-circle person" alt="Person" width="150" height="150">
                </a>
                <div id="demo12" class="collapse">
                    <p>Person Description Title</p>
                    <p>Person Description</p>
                    <p>Email: example@gmail.com</p>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <p>&nbsp;</p>
    </div>
   
    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <p>Go to top</p>
    </footer>
</body>
{% endblock %}
