{% extends "app/layout.html" %}
{#{% load staticfiles %}#}
{% load static %}
{% block content %}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - StockEye</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>


<body>

<section class="upper">
    <div class="hero">
        <div class="left-col">
            <img src="{% static 'Images/twitter.svg'%}" class= "twitter" width="100" alt="200">
            <h5 class="customh">We Help You </h5>
            <h5 class="customf">Beat the Market</h5>
            <img class= "vect" src="{% static 'Images/Vector.svg'%}" alt="">
            <p class="custom2"> Stock Sentiment Analysis Using the Twitter API</p>
        </div>
       
    <img src="{% static 'Images/Investing.svg'%}" class= "invest" width="500" height="500" >
       
       
    </div>

</section>

<section class="lower">
    
    <div class="container-fluid">
        <div class="row2">
            <div class="cont1 col-md-6">
                <p class="custom3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nunc pellentesque quisque amet eu, commodo erat fermentum. 
                    Ultricies erat rhoncus risus quis vitae. 
                </p>
            </div>
            
            <div class="cont2 col-md-6">
                <p class="custom3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nunc pellentesque quisque amet eu, commodo erat fermentum. 
                    Ultricies erat rhoncus risus quis vitae. 
                </p>
            </div>

        </div>

    </div>


</section>


</body>

{% endblock %}

