{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h3>Log in</h3>
<h4>Sign and start tracking stock sentiments</h4>

        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-5 control-label">Username</label>
                    <div class="col-md-6">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-5 control-label">Password</label>
                    <div class="col-md-6">
                        {{ form.password }}
                    </div>
                </div>

                <div align="center" class="form-group">
                    <input type="hidden" name="next" value="/" />
                    <input type="submit" value="Log in" class="register_button" />
                </div>
                <div style="text-align: center;">
                    {% if form.errors %}
                    <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                    {% endif %}
                </div>
            </form>
        </section>

<div class="border-top pt-3">
    <center>
        <small class="text-muted">
            Don't have an account? <a class="ml-2" href="../register/">Sign Up</a>
        </small>
    </center>
</div>

{% endblock %}


{% block scripts %}

{% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
