{% extends "app/layout.html" %}
{#{% load staticfiles %}#}
{% load static %}
{% block content %}

<body>

<h3>Trending Stocks</h3>
<h4>Current trending stocks</h4>

</div>

       <div class="container">
        <div class= "trending_align"></div>
           <div class="row2">
            {% for stock in hold %}
                <div class="col-md-3">
                    <div class = "stock.name">
                        {{ stock.symbol }}
                    </div>
                    <img src="{% static 'Images/stock.svg'%}">
                    <div class = "sentiment_card">No. of Mentions: {{ stock.trend}}</div>
                    <p> <img src="{% static 'Images/dollar.svg'%}">
                        {{ stock.value }}

                    </p>
                
                </div>
                
                {% endfor %}
                
           </div>
       </div>               

    </div>
       
    </body>

{% endblock %}