{% extends "app/layout.html" %}
{#{% load staticfiles %}#}
{% load static %}
{% block content %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - trending</title>
    {% load static %}
    <link rel="stylesheet" href="site.css">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>

    <h1>Trending Stocks</h1>


    <div class = "sentiments"> 
        <h2><span class="green_dot"></span> = Positive Sentiment
        <br>
        <span class="red_dot"></span> = Negative Sentiment </h2>
    </div>

</div>
<!--
<div class="content">
   
    <table>
        <tr>
        
            <p><a href="{% url 'trending' %}"> Trending Stocks</a></p>
            <th>Symbol</th>
            <th>Total Number of Mentions</th>
            
            <th>Value</th>
                
        </tr>
            {% for stock in hold %}
            <tr>
                
                <td>{{ stock.symbol }}</td>
                <td>{{ trend }}</td>
                
                <td>${{ stock.value }}</td>
            </tr>
            {% endfor %}
    </table>
     
  </div>
-->

       <div class="container-fluid">
        
           <div class="row">
            {% for stock in hold %}
                <div class="col-md-3">
                    <div class = "stock.name">
                        {{ stock.symbol }}
                    </div>
                    <img src="{% static 'Images/stock.svg'%}">
                    <div class = "sentiment_card">No. of Mentions: {{ trend }}</div>
                    <p> <img src="{% static 'Images/dollar.svg'%}">
                        {{ stock.value }}

                    </p>
                
                </div>
                {% endfor %}
           </div>
           
       </div>               

    

    </body>

{% endblock %}