{% extends "app/layout.html" %}
{#{% load staticfiles %}#}
{% load static %}
{% block content %}

<body>
     <h1>StockEye: Watchlists</h1>
<div class="jumbotron"> <p>Personalized Watchlists</p></div>


    <div class="container">

        {% if user.is_authenticated %}
            <p>Username: {{ user.username }}</p>
        {% else %}
            <p>Username: {{ user.username }} (Not a valid user)</p>
        {% endif %}


        {% if data %}
            <a href="{% url 'manage_watchlists' %}" class="btn btn-warning">Manage Watchlists</a>
            <br>
            <br>
        {% else %}
            <a href="{% url 'create_watchlist' %}">Create a new Watchlist</a>
        {% endif %}
   
        <div  class = "row">

            {% for watchlist, stocklist in data %}
            <div style="clear:both; margin-bottom:20px"></div>
            <div class="col-md-3 ">
                
                {% if watchlist.watchList_name %}
                    <td style="text-align: center; "><a href="{% url 'edit_watchlist' w_id=watchlist.watchList_id %};">{{ watchlist.watchList_name }}</a></td>
                {% else %}
                    <td style="text-align: center;"><a href="{% url 'edit_watchlist' w_id=watchlist.watchList_id %}">Watchlist {{ watchlist.watchList_id }}</a></td>
                {% endif %}
            </div>
            
       
        </div>
                
        <div class="row3">
            {% for stock in stocklist  %}
            <div class="col-md-3" style="text-align: center;">

                <div class = "stock.name">{{ stock.symbol }}</div>
                    <img src="{% static 'Images/stock.svg'%}">
                    <br>
                <div class = "positive_card"style="text-align:center;">{{ stock.positiveSentimentCount}}</div>
                
                <div class = "negative_card">{{stock.negativeSentimentCount}}</div>
                    
                    <p> <img src="{% static 'Images/dollar.svg'%}">{{ stock.value }} </p>
            
                </div>
       
                {% endfor %}
            
            {% endfor %}
            
        </div>

    </div>               



</body>

{% endblock %}

