{% extends "app/layout.html" %}
{#{% load staticfiles %}#}
{% load static %}
{% block content %}

<body>
    <h1>StockEye: Watchlists</h1>
<div class="jumbotron">
        <p>Personalized Watchlists</p>
    </div>

    <!-- Container (Watchlist Section) -->
    <div class="content">

        {% if user.is_authenticated %}
            <p>Username: {{ user.username }}</p>
        {% else %}
            <p>Username: {{ user.username }} (Not a valid user)</p>
        {% endif %}

        {% if data %}
        <a href="{% url 'manage_watchlists' %}" class="btn btn-warning">Manage Watchlists</a>
        {% else %}
        <a href="{% url 'create_watchlist' %}">Create a new Watchlist</a>
        {% endif %}
        {% for watchlist, stocklist in data %}
        <table>
            <tr>
                {% if watchlist.watchList_name %}
                    <td colspan="4" style="text-align: center;"><a href="{% url 'edit_watchlist' w_id=watchlist.watchList_id %}">{{ watchlist.watchList_name }}</a></th>
                {% else %}
                <td colspan="4" style="text-align: center;"><a href="{% url 'edit_watchlist' w_id=watchlist.watchList_id %}">Watchlist {{ watchlist.watchList_id }}</a></th>
                {% endif %}
            </tr>
            <tr>
                <th>Symbol</th>
                <th># + Sentiments</th>
                <th># - Sentiments</th>
                <th>Value</th>
            </tr>
            {% for stock in stocklist %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.positiveSentimentCount }}</td>
                <td>{{ stock.negativeSentimentCount }}</td>
                <td>${{ stock.value }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
   
</body>
{% endblock %}
