{% extends "app/layout.html" %}
{#{% load staticfiles %}#}
{% load static %}
{% block content %}

<body>
<div class="jumbotron text-center">
        <h1>StockEye: Watchlists</h1>
        <p>Personalized Watchlists</p>
    </div>

    <!-- Container (Watchlist Section) -->
    <!-- Lets use a simple unordered list to display the stocks in a watchlist for now -->
    {% if user_watchlist %}
        <ul>
        {% for stock in user_watchlist %}
            <li></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No watchlists available!</p>
    {% endif %}
   
</body>
{% endblock %}
