{% extends "app/layout.html" %}
{#{% load staticfiles %}#}
{% load static %}
{% block content %}

<body>
<div class="jumbotron text-center">
        <h1>StockEye: Watchlists</h1>
        <p>Personalized Watchlists</p>
    </div>

    <!-- Container (Watchlist Section) -->
    <div class="content">

        <p>Username: {{ user.username }}</p>

        <!-- Lets use a simple table to display the stocks in a watchlist for now -->
        {% if watchlists %}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Stock Name</th>
                </tr>
                {% for stock in watchlists %}
                <tr>
                    <td>{{stock.id}}</td>
                    <td>{{stock.stocks}}</td>
                </tr>
                {% endfor %}
        {% else %}
            <p>No watchlists available!</p>
        {% endif %}

    </div>
   
</body>
{% endblock %}
